@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Login colors */
:root {
  --primary-color: #24285b;
  --primary-dark: #0e2431;

  /* #a5a5a5;
  #c9c9c9;
  #f15df1;
  #f4a28c;
  #ce8172;
  #ffd200; */
  --white-color: #fff;
  --bg-color: #e6e6e6;
}

:root {
  --body-font: 'Roboto', sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  /* background-color: var(--bg-color); */
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.form__img {
  display: none;
}

.login-container {
  height: calc(100vh - 3em);
  overflow: hidden;
}

.form {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

.pay__form {
  display: none;
}

.form__content {
  width: 290px;
  background-color: whitesmoke;
}

.form__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 4em;
  width: 4em;
  background-color: hsla(0, 0%, 90%, 0.5);
  border-radius: 50%;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__logo {
  height: 3em;
}

.form__title {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 1em;
  color: var(--primary-color);
  text-align: center;
}

.form__div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin-bottom: 1em;
  padding: 0.25em 0;
  border-bottom: 1px solid var(--primary-color);
}

.form__div.focus {
  border-bottom: 1px solid hsl(236, 43%, 45%);
}

.form__div-one {
  margin-bottom: 1.5em;
}

.form__icon {
  font-size: 1.5em;
  color: var(--primary-color);

  transition: 0.3s;
}

.form__div.focus .form__icon {
  color: hsl(236, 43%, 45%);
}

.form__label {
  display: block;
  position: absolute;
  left: 0.75em;
  top: 0.25em;
  font-size: 1em;
  color: var(--primary-color);

  transition: 0.3s;
}

.form__div.focus .form__label {
  top: -1em;
  font-size: 0.875em;
  color: hsl(236, 43%, 45%);
}

.form__div-input {
  position: relative;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5em 0.75em;
  font-size: 1em;
  color: hsl(236, 43%, 35%);
  transition: 0.3s;
}

.form__links {
  display: flex;
  justify-content: space-between;
}

.form__pay,
.form__forgot {
  display: block;
  margin-bottom: 1.5em;
  font-size: 0.8em;
  color: var(--primary-color);
  font-weight: 500;
  transition: 0.5;
}

.form__forgot {
  text-align: right;
}

.form__pay {
  text-align: left;
}

.form__forgot:hover,
.form__pay:hover {
  color: hsl(236, 43%, 45%);
  transition: 0.5s;
}

.form__button {
  width: 100%;
  padding: 0.5em;
  font-size: var(--normal-font-size);
  outline: none;
  border: none;
  margin-bottom: 1em;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.3s;
}

.form__button:hover {
  box-shadow: 0px 15px 36px rgba(0, 0, 0, 0.15);
}

.form__social {
  text-align: center;
}

.form__social-text {
  display: block;
  font-size: 0.8em;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.form__social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  padding: 0.5rem;
  background-color: hsl(236, 43%, 65%);
  color: #fff;
  font-size: 1.25rem;
  border-radius: 50%;
}

/*Show login*/
.block {
  display: block;
}

/*Hidden login*/
.none {
  display: none;
}

.form__social-icon:hover {
  background-color: var(--first-color);
}

footer {
  height: 3em;
}

footer > p {
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
}

@media screen and (min-width: 968px) {
  .form {
    grid-template-columns: 1.5fr 1fr;
    padding: 0 2rem;
  }
  .form__content {
    width: 320px;
  }
  .form__img {
    display: block;
    width: 700px;
    justify-self: center;
  }
}z
